*{
    margin: 0;
    padding: 0;
}

:root{
    --color-fondo: hsl(51, 88%, 91%);
    --color-base: hsl(37, 89%, 85%);
    --color-verde:hsl(56, 28%, 69%);
    --color-oscuro: hsl(353, 13%, 14%);
    --color-verde-oscuro: hsl(66, 30%, 26%);
}
body{
    background-color: var(--color-fondo) !important;
    height: 100%;
    width: 100%;
}

nav{
    background-color: var(--color-base);
    color: var(--color-oscuro);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-family: 'Alfa Slab One', cursive;
}
nav button{
    background: none;
    border: none;
    font-size: x-large;
}

#offcanvasNavbar{
    background-color: var(--color-fondo);
}

.nav-item:hover{
    border-bottom: 2px solid var(--color-verde-oscuro);
    text-align: center;
}

main{
    display: grid;
    place-items: center;
    height: 88.8vh;
}


section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}

section a{
    height: 70px;
    width: auto;
    background-color: var(--color-base);
    color: var(--color-oscuro);
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

section a:hover{
    background-color: var(--color-verde-oscuro);
    color: var(--color-base);
}




footer{
    background-color: black;
    height: auto;
    color: var(--color-fondo);
    text-align: center;
}